.grid{
    display: grid;
    width: 100%;
    height: 100%;
    border: solid;
    background-color: rgba(13, 61, 87, 0.479);
    background-color: let(--nr1 )  saddlebrown;
    grid-template-areas: 

    "a a a a"
    "a a a a"
    "c c c c"
    "b bb bbb bbbb"
}
#hei{
    grid-area:a;
}

.items4 {
   grid-area:b;
   text-align: center;
   border: solid 2px rgba(11, 20, 78, 0.926);
   cursor: pointer;
   background-color:  lightcoral ;
}

.items5{
   grid-area:bb;
   text-align: center;
   border: solid 2px rgba(11, 20, 78, 0.926);
   background-color:  lightcoral ;
    }
.items6{
    grid-area:bbb;
    text-align: center;
    border: solid 2px rgba(11, 20, 78, 0.926);
    background-color:  lightcoral ;
        
        }
 .items7{
    grid-area:bbbb;
    text-align: center;
    border: solid 2px rgba(11, 20, 78, 0.926);
    background-color:  lightcoral ;
     }
#good:hover{
text-transform:uppercase;
border:solid rgb(25, 139, 205);
}